<div class="flex flex-col h-screen w-full items-center justify-center bg-gray-900 bg-cover bg-no-repeat" style="background-image: url(../../../../assets/fondo.jpg)">
    <button class="bg-red-600 relative right-[40%] h-[3rem] w-[8rem]" >regresar</button>
    <select class="relative w-[50%] size-[3rem] bottom-[3%]" style="text-align: center;">
        <option value="lo que enviara">texto mostrado</option>
        <option value="lo que enviara">nada</option>

    </select>
    <div class="relative flex flex-col items-center w-[80%] top-[10%] h-[60%] p-[10px]" style="border-width: 2px; border-color: black; background-color: white;">
        <!--
            contenido de dispensadores:
            cant_comida
            Veces por dia
        -->
        <div class="w-full h-[50%]" style="background-color: red;">
            <label style="font-size: 35px; vertical-align: -45px ; margin-left: 10rem;">Veces por dia</label> 
            <input type="number" class="relative top-[20%] left-[5%] w-[60%] h-[35%]" style="background-color: lightblue;font-size: 50px; text-align: center;"/>
        </div>
        <div class="w-full h-[50%]" style="background-color: blue;">
            <label style="font-size: 35px; vertical-align: -100px ; margin-left: 10rem;">cantidad de comida</label> 
            <input type="range" class="relative top-[35%] left-[5%] w-[55%]" />
        </div>
    </div>
</div>