<div class="flex h-screen w-full items-center justify-center bg-gray-900 bg-cover bg-no-repeat"
    style="background-image: url(../../../../assets/perro-juega-en-parque.jpg);">
    <div class="relative w-[40rem] top-[5%] bg-white rounded-lg shadow-lg">
        <div class="flex justify-center mb-4 ">
            <img src="../../../../assets/perfildog.jpg" alt="imagen" class="rounded-full mt-[10px] w-20 h-20">
        </div>
        <h1 class="text-2xl font-semibold text-center text-gray-500 mb-6">Añadir Mascota</h1>
				<form [formGroup]="addPetForm">
            <div class="mb-4">
				<label for="name" class="ml-[10%] block text-gray-600" style="font-size: 20;">Nombre de la Mascota:</label>
				<input formControlName="petName" type="text" id="name" class="ml-[10%] w-[80%] px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-500" placeholder="El nombre de tu mascota" required>
			</div>
			<div class="mb-4">
				<label for="petRace" class="ml-[10%] block text-gray-600" style="font-size: 20;">Raza de tu Mascota:</label>
				<input formControlName="petRace" type="text" id="petRace" class="ml-[10%] w-[80%] px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-500" placeholder="LA raza de tu mascota" required>
			</div>
            <div class="mb-4">
				<label for="petSize" class="ml-[10%] block text-gray-600" style="font-size: 20;">Tamaño de tu mascota:</label>
				<input formControlName="petSize" type="text" id="petSize" class="ml-[10%] w-[80%] px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-500" placeholder="Tamaño de tu mascota" required>
			</div>
			<div class="mb-4">
				<label for="petAge" class="ml-[10%] block text-gray-600" style="font-size: 20;">Edad de tu mascota:</label>
				<input formControlName="petAge" type="text" id="petAge" class="ml-[10%] w-[80%] px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-500"placeholder="Edad de tu mascota" required>
			</div>
			<button type="submit" (click)="addPet()" class="w-32 bg-gradient-to-r from-cyan-400 to-cyan-600 text-white py-2 rounded-lg mx-auto block focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500 mb-2">Registrate</button>
		</form>
	</div>
</div>