<div class="relative flex gap-10 flex-col items-end -mb-48 mt-12 sm:py-12">
    <button class="btn overflow-hidden relative w-64 bg-green-500 text-white py-4 px-4 rounded-xl font-bold uppercase -- before:block before:absolute before:h-full before:w-full before:bg-green-600 before:left-0 before:top-0 before:-translate-y-full hover:before:translate-y-0 before:transition-transform">
      <span class="relative">Agregar</span>
    </button>
    <button class="btn overflow-hidden relative w-64 bg-red-500 text-white py-4 px-4 rounded-xl font-bold uppercase -- before:block before:absolute before:h-full before:w-full before:bg-red-600 before:left-0 before:top-0 before:-translate-y-full hover:before:translate-y-0 before:transition-transform">
      <span class="relative">Eliminar</span>
    </button>
    <button class="btn overflow-hidden relative w-64 bg-blue-500 text-white py-4 px-4 rounded-xl font-bold uppercase -- before:block before:absolute before:h-full before:w-full before:bg-blue-600 before:left-0 before:top-0 before:-translate-y-full hover:before:translate-y-0 before:transition-transform">
      <span class="relative">Editar</span>
    </button>
</div>
<section class="-mt-12 mr-36 pl-10">
    <div class="container">
        <div class="grid grid-cols-4 gap-4">
            <div class="">
            </div>
            <div class="">
                <h3 class="text-2xl">Nombre</h3>
            </div>
            <div class="">
                <h3 class="text-2xl">Raza</h3>
            </div>
            <div class="">
                <h3 class="text-2xl">Dispensador</h3>
            </div>
            <div class="">
                <label class="inline-flex items-center mt-3">
                    <input type="checkbox" class="form-checkbox h-5 w-5 text-gray-600" ><span class="ml-2 text-gray-700"></span>
                </label>
            </div>
            <div class="">
                <h3 class="">Chiquinunis</h3>
                <img class="md:size-32 rounded-full mt-2" src="https://i.ibb.co/gMhBZdh/Chiquinunis.jpg" alt="Chiquinunis">
            </div>
            <div class="">
                <h3 class="">Croiyo</h3>
            </div>
            <div class="">
                <h3 class="">Id:123456789</h3>
            </div>
        </div>
    </div>
    
</section>