<div class="flex h-screen w-full items-center justify-center bg-gray-900 bg-cover bg-no-repeat"
    style="background-image: url(../../../../assets/perro-juega-en-parque.jpg);">
    <div class="relative w-[40rem] top-[5%] bg-white rounded-lg shadow-lg">
            <div class="mb-4">
				<h1 class="text-2xl font-semibold text-center text-gray-500 mb-6">Nombre: {{userDataLimpio.name}}</h1>
			</div>
			<div class="mb-4">
				<h1 class="text-2xl font-semibold text-center text-gray-500 mb-6">Email: {{userDataLimpio.email}}</h1>
			</div>
            <div class="mb-4">
				<h1 class="text-2xl font-semibold text-center text-gray-500 mb-6">{{userDataLimpio.phoneNumber}}</h1>
			</div>
			<button type="submit" (click)="userDelete()" class="w-full flex justify-center p-4 border border-transparent rounded-md shadow-sm text-lg font-medium bg-gradient-to-r from-cyan-400 to-cyan-600 text-white py-6 mx-auto  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500 ">Eliminar Cuenta</button>
	</div>
    <div>
        <button type="submit" (click)="navigateToYourPets()" class="ml-20 mb-4 w-32 bg-gradient-to-r from-cyan-400 to-cyan-600 text-white p-4  rounded-lg mx-auto block focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500 text-lg">Tus Mascotas</button>   
        <button type="submit" (click)="goToAddNewPet()" class="ml-20 w-32 bg-gradient-to-r from-cyan-400 to-cyan-600 text-white p-4 rounded-lg mx-auto block focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500 mb-4 text-lg">Agregar Mascota</button>   
    </div>
</div>